<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src='../static/client.js'></script>
</head>
<body>


<ul class="scanlines">
<div class="crt">
<div class='center'>
    
    <a href="/story"><div class='cover'>KNOW YOUR<br>TECHNOCRATS</div></a>

    <!-- all of these divs with ids are for anchor linking -->
    <div id="bill-gates"></div>
    <div class="bios">
        <div class="technocrat-bio" data-aos="fade-left">
            <img src="https://i.imgur.com/BEVecXs.jpg" alt="Bill Gates">
            <div>
                William Henry Gates III (born October 28, 1955) is an American business magnate, "software" developer, "investor", and philanthropist. He is best known as the co-founder of Microsoft Corporation.
                <br><br><span class="blur">He rules the world with 5G cell towers.</span>
            </div>
        </div>
        <div id="elon-musk"></div>
        <div class="technocrat-bio" data-aos="fade-right">
            <div>
                Elon Reeve Musk (born June 28, 1971) is an engineer, industrial designer and technology entrepreneur. He is the founder, CEO and chief engineer/designer of SpaceX; early investor, CEO and product architect of Tesla, Inc.; founder of The Boring Company; co-founder of Neuralink; and co-founder and initial co-chairman of OpenAI
                <br><br><span class="blur">He rules the world with the promise of the future.</span>
            </div>
            <img src="https://i.imgur.com/UDW9hpk.jpg" alt="Elon Musk">
        </div>
        <div id="jack-ma"></div>
        <div class="technocrat-bio" data-aos="fade-left">
            <img src="https://i.imgur.com/70fSj5q.jpg" alt="Jack Ma">
            <div>
                Jack Ma (born 10 September 1964), is a Chinese business magnate, investor and politician. He is the co-founder and former executive chairman of Alibaba Group, a multinational technology conglomerate. Ma is a strong proponent of an open and market-driven economy.
                <br><br><span class="blur">He rules the world through non-aggression pacts.</span>
            </div>
        </div>
        <div id="jeff-bezos"></div>
        <div class="technocrat-bio" data-aos="fade-right">
            <div>
                Jeffrey Preston Bezos (born January 12, 1964) is an American internet entrepreneur, industrialist, media proprietor, and investor. He is best known as the founder, CEO, and president of the multi-national technology company Amazon.
                <br><br><span class="blur">He rules the world through greed.</span>
            </div>
            <img src="https://i.imgur.com/Ur5xYv0.jpg" alt="Jeff Bezos">
        </div>
        <div id="larry-ellison"></div>
        <div class="technocrat-bio" data-aos="fade-left">
            <img src="https://i.imgur.com/rl1MXDQ.jpg" alt="Larry Ellison">
            <div>
                Lawrence Joseph Ellison (born August 17, 1944) is an American business magnate, investor, and philanthropist who is a co-founder and the executive chairman and chief technology officer (CTO) of Oracle Corporation.
                <br><br><span class="blur">He rules the world through VirtualBox.</span>
            </div>
        </div>
        <div id="larry-page"></div>
        <div class="technocrat-bio" data-aos="fade-right">
            <div>
                Lawrence Edward Page (born March 26, 1973) is an American software engineer and Internet entrepreneur. He is best known as one of the co-founders of Google along with Sergey Brin.
                <br><br><span class="blur">He rules the world through our aggregated subconcious.</span>
            </div>
            <img src="https://i.imgur.com/fIE0sJz.jpg" alt="Larry Page">
        </div>
        <div id="mark-zuckerberg"></div>
        <div class="technocrat-bio" data-aos="fade-left">
            <img src="https://i.imgur.com/mZ3EeHY.jpg" alt="Mark Zuckerberg">
            <div>
                Mark Elliot Zuckerberg (born May 14, 1984) is an "American" internet entrepreneur and "philanthropist." He is known for co-founding Facebook, Inc. and serves as its chairman, chief executive officer, and controlling shareholder.
                <br><br><span class="blur">He rules the world through our aggregated desires.</span>
            </div>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br>

    <a href="/story"><div class='cover'>KNOW YOUR<br>TECHNOCRATS</div></a>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
</div>
</ul>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>