<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src='../static/client.js'></script>
</head>
<body>


<ul class="scanlines">
<div class="crt">
<div class='center'>

  <div class='cover'>KNOW YOUR<br>TECHNOCRATS</div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <div class="summary" data-aos="fade-up">
    The technocrat classifier is trained to recognize<br>
    <strong>Bill Gates</strong>, <strong>Elon Musk</strong>,<br>
    <strong>Jack Ma</strong>, <strong>Jeff Bezos</strong>,<br>
    <strong>Larry Ellison</strong>, <strong>Larry Page</strong>,<br>
    and <strong>Mark Zuckerberg</strong>.
  </div>
  <div class='content'>
    <div class='no-display'>
      <input id='file-input'
              class='no-display'
              type='file'
              name='file'
              accept='image/*'
              onchange='showPicked(this)'>
    </div>
    <button class='choose-file-button' type='button' onclick='showPicker()'>SELECT IMAGE</button>
    <div class='upload-label'>
      <label id='upload-label'>No file chosen</label>
    </div>
    <div>
      <img id='image-picked' class='no-display' alt='Chosen Image' height='400'>
    </div>
    <div class='analyze'>
      <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>ANALYZE</button>
    </div>
    <div class='result-label'>
      <label id='result-label'></label>
    </div>
  </div>
</div>
</div>
</ul>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>
