<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src='../static/client.js'></script>
</head>
<body>


<ul class="scanlines">
<div class="crt">
<div class='center'>

  <div class='cover'>KNOW YOUR<br>TECHNOCRATS</div>

  <div class='big-icon' data-aos="zoom-out">🌍</div>
  <div class='big-icon' data-aos="zoom-out">🧑‍🤝‍🧑🤝🧑</div>
  <div class='big-icon' data-aos="zoom-out">🙏💸</div>
  <div class='big-icon' data-aos="zoom-out">☁<br>⬇<br>👽</div>
  <div class='big-icon' data-aos="zoom-out">👽🤲</div>
  <div class='big-icon' data-aos="zoom-out">💸💻🔌📱💸</div>
  <div class='big-icon' data-aos="zoom-out">🧑‍🤝👽</div>
  <div class='big-icon' data-aos="zoom-out">😊💻</div>
  <div class='big-icon' data-aos="zoom-out">💻🥴</div>
  <div class='big-icon' data-aos="zoom-out">🥵💻</div>
  <div class='big-icon' data-aos="zoom-out">💻😵</div>
  <div class='big-icon' data-aos="zoom-out">😟💻</div>
  <div class='big-icon' data-aos="zoom-out">😟👁️</div>
  <div class='big-icon' data-aos="zoom-out">😦👁️</div>
  <div class='big-icon' data-aos="zoom-out">🤬👁️</div>
  <div class='big-icon' data-aos="zoom-out">🌬️♨️💨👁️</div>
  <div class='big-icon' data-aos="zoom-out">😦👁️</div>
  <div class='big-icon' data-aos="zoom-out">😦👁️</div>
  <div class='big-icon' data-aos="zoom-out">😐👁️</div>
  <div class='big-icon' data-aos="zoom-out">😐👁️</div>
  <div class='big-icon' data-aos="zoom-out">👤👁️</div>
  <div class='big-icon' data-aos="zoom-out">👁️<br>👥👥</div>
  <div class='big-icon' data-aos="zoom-out">👁️<br>👥👥<br>👥👥👥<br>👥👥👥👥</div>
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class='cover' data-aos="fade">KNOW YOUR<br>TECHNOCRATS</div>

  <div class="technocrat-bio" data-aos="fade-left">
    <img src="https://i.imgur.com/BEVecXs.jpg" alt="Bill Gates">
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat libero vitae purus sollicitudin consectetur vel in turpis. Cras imperdiet urna ex, ut ultrices felis laoreet ac. Fusce vitae tortor nec sapien viverra condimentum. Maecenas diam neque, dictum et varius tincidunt, rhoncus quis ipsum. 
    </div>
  </div>
  <div class="technocrat-bio" data-aos="fade-right">
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat libero vitae purus sollicitudin consectetur vel in turpis. Cras imperdiet urna ex, ut ultrices felis laoreet ac. Fusce vitae tortor nec sapien viverra condimentum. Maecenas diam neque, dictum et varius tincidunt, rhoncus quis ipsum. 
    </div>
    <img src="https://i.imgur.com/UDW9hpk.jpg" alt="Elon Musk">
  </div>
  <div class="technocrat-bio" data-aos="fade-left">
    <img src="https://i.imgur.com/70fSj5q.jpg" alt="Jack Ma">
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat libero vitae purus sollicitudin consectetur vel in turpis. Cras imperdiet urna ex, ut ultrices felis laoreet ac. Fusce vitae tortor nec sapien viverra condimentum. Maecenas diam neque, dictum et varius tincidunt, rhoncus quis ipsum. 
    </div>
  </div>
  <div class="technocrat-bio" data-aos="fade-right">
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat libero vitae purus sollicitudin consectetur vel in turpis. Cras imperdiet urna ex, ut ultrices felis laoreet ac. Fusce vitae tortor nec sapien viverra condimentum. Maecenas diam neque, dictum et varius tincidunt, rhoncus quis ipsum. 
    </div>
    <img src="https://i.imgur.com/Ur5xYv0.jpg" alt="Jeff Bezos">
  </div>
  <div class="technocrat-bio" data-aos="fade-left">
    <img src="https://i.imgur.com/rl1MXDQ.jpg" alt="Larry Ellison">
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat libero vitae purus sollicitudin consectetur vel in turpis. Cras imperdiet urna ex, ut ultrices felis laoreet ac. Fusce vitae tortor nec sapien viverra condimentum. Maecenas diam neque, dictum et varius tincidunt, rhoncus quis ipsum. 
    </div>
  </div>
  <div class="technocrat-bio" data-aos="fade-right">
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat libero vitae purus sollicitudin consectetur vel in turpis. Cras imperdiet urna ex, ut ultrices felis laoreet ac. Fusce vitae tortor nec sapien viverra condimentum. Maecenas diam neque, dictum et varius tincidunt, rhoncus quis ipsum. 
    </div>
    <img src="https://i.imgur.com/fIE0sJz.jpg" alt="Larry Page">
  </div>
  <div class="technocrat-bio" data-aos="fade-left">
    <img src="https://i.imgur.com/mZ3EeHY.jpg" alt="Mark Zuckerberg">
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat libero vitae purus sollicitudin consectetur vel in turpis. Cras imperdiet urna ex, ut ultrices felis laoreet ac. Fusce vitae tortor nec sapien viverra condimentum. Maecenas diam neque, dictum et varius tincidunt, rhoncus quis ipsum. 
    </div>
  </div>

  <div class='title' data-aos="fade-up">Technocrat Classifier</div>
  <p>
    Currently the technocrat classifier is trained to recognize 
    <strong>Bill Gates</strong>, <strong>Elon Musk</strong>, 
    <strong>Jack Ma</strong>, <strong>Jeff Bezos</strong>, 
    <strong>Larry Ellison</strong>, <strong>Larry Page</strong>, 
    and <strong>Mark Zuckerberg</strong>.
  </p>
  <div class='content'>
    <div class='no-display'>
      <input id='file-input'
              class='no-display'
              type='file'
              name='file'
              accept='image/*'
              onchange='showPicked(this)'>
    </div>
    <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
    <div class='upload-label'>
      <label id='upload-label'>No file chosen</label>
    </div>
    <div>
      <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
    </div>
    <div class='analyze'>
      <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
    </div>
    <div class='result-label'>
      <label id='result-label'></label>
    </div>
  </div>
</div>
</div>
</ul>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>
