<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src='../static/client.js'></script>
</head>
<body>


<ul class="scanlines">
<div class="crt">
<div class='center'>
    
    <div class='cover'>KNOW YOUR<br>TECHNOCRATS</div>
    
    <div class='icons'>
        <div class='big-icon' data-aos="zoom-out">🌍</div>
        <div class='big-icon' data-aos="zoom-out">🧑‍🤝‍🧑🤝🧑</div>
        <div class='big-icon' data-aos="zoom-out">🙏💸</div>
        <div class='big-icon' data-aos="zoom-out">☁<br>⬇<br>👽</div>
        <div class='big-icon' data-aos="zoom-out">👽🤲</div>
        <div class='big-icon' data-aos="zoom-out">💸💻🔌📱💸</div>
        <div class='big-icon' data-aos="zoom-out">🧑‍🤝👽</div>
        <div class='big-icon' data-aos="zoom-out">😊💻</div>
        <div class='big-icon' data-aos="zoom-out">💻🥴</div>
        <div class='big-icon' data-aos="zoom-out">🥵💻</div>
        <div class='big-icon' data-aos="zoom-out">💻😵</div>
        <div class='big-icon' data-aos="zoom-out">😟💻</div>
        <div class='big-icon' data-aos="zoom-out">😟👁️</div>
        <div class='big-icon' data-aos="zoom-out">😦👁️</div>
        <div class='big-icon' data-aos="zoom-out">🤬👁️</div>
        <div class='big-icon' data-aos="zoom-out">🌬️♨️💨👁️</div>
        <div class='big-icon' data-aos="zoom-out">😦👁️</div>
        <div class='big-icon' data-aos="zoom-out">😦👁️</div>
        <div class='big-icon' data-aos="zoom-out">😐👁️</div>
        <div class='big-icon' data-aos="zoom-out">😐👁️</div>
        <div class='big-icon' data-aos="zoom-out">👤👁️</div>
        <div class='big-icon' data-aos="zoom-out">👁️<br>👥👥</div>
        <div class='big-icon' data-aos="zoom-out">👁️<br>👥👥<br>👥👥👥<br>👥👥👥👥</div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a href="/"><div class='cover'>KNOW YOUR<br>TECHNOCRATS</div></a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>


</div>
</div>
</ul>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>